<h1>Log In</h1>
<h4>Kindly Login with your username</h4>
<%= form_with(url:login_path, scope: :session, local: true) do |form| %>
  <%= form.text_field :username %>
  <%= form.submit value = "Sign Up" %>
<% end %>

